$break-small: 719px;

body {
  font-family: sans-serif;
  color: #797283;

  strong {
    font-weight: bold;
  }

  small {
    font-size: smaller;
  }

  p {
    font-family: Inter;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    line-height: 43px;
    color: #1E1C21;
  }

  // a {
  //   color: #6574c7;

  //   &:hover, &:active {
  //     color: #6574c7;
  //   }
  // }

  header {
    // background-color: #FDFAFF;
    // display: block;
    // padding: 39px 0;
    background-color:#5b6cc7;
    border-bottom: solid 2px #0000001a;
    display: block;
    padding: 0px 0px 5px 0px;

    a {
      color: white !important;
    }

    .logo {
      img {
        width: 217px;
        // height: 185px;
      }
    }

    .top-menu {
      display: flex;
      padding-top: 10px;
      justify-content: space-between;

      .get-started {
        a {
          width: 160px;
          height: 47px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 47px;
          display: block;
          background: #6574c7;
          border-radius: 4px;
          text-align: center;
          color: #FFFFFF;
        }
      }
    }
  }

  .purple-title{
    color: #fff;
    font-family: sans-serif;
    text-align: center;
  }

  .img-in-title {
    height: 20px;
    margin-bottom: -4px;
  }

  .purple {
    color: #ff507d;
    font-weight: bold;
  }

  .page-header {
    text-align: center;
    // padding: 200px 0 100px 0;
    // background-color: #fdfaff;
    // border-radius: 0px 0px 40px 40px;
    background-color: #6574c7;
    border-radius: 0px;
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;
      padding-left: 100px;
      padding-right: 100px;


      h1, h2 {
        padding-top: 0;
      }
    }

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      color: #f2f3f3;
      padding: 0 0 5px 0;
      font-family: sans-serif;
      line-height: 65px;
      padding-top: 100px;
    }

    h2 {
      font-size: 28px;
      font-style: normal;
      font-weight: 100 !important;
      // color: #1E1C21;
      color: #f2f3f3;
      font-family: sans-serif;
      line-height: 42px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
    }

    img {
      // margin-top: 61px;
      max-width: 100%;
    }

    &.home {
      padding-bottom: 30px;
    }
  }

  .features {
    .feature__item {
      padding: 50px 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .feature__content {
        justify-content: left;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 32px;
          font-family: sans-serif;
          font-weight: bold;
          margin-bottom: 15px;
          color: #49538c;
        }

        p {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .thumbnail {
        img {
          max-width: 100%;
          box-shadow: 5px 5px 5px #888888 !important;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: #6574c7;
    color: #ffffff;
    padding: 65px 0;
    // border-radius: 40px 40px 0px 0px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        font-size: 18px;
        background-color: #ffffff;
        width: 184px;
        margin-left: auto;
        border-radius: 4px;
        height: 54px;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        flex-direction: column;
        color: #6574c7;

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:active {

        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: Inter;
        font-weight: 600;
        margin: 0 0 32px;
        color: #ffffff;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;
    padding-bottom: 40px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }

    h1, h3 {
      color: #3f51b5;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: #1E1C21;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  footer {
    color: white;
    padding: 120px 0 45px;
    background-color: #5c6dc9;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 17px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: sans-serif;
          line-height: 0;
          color: #d8ddf9
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: #fff;

              &:hover, &:active {
                color: #fff;
              }
            }
          }
        }

        .links__special {
          background-color: #98a1d2;
          color: #ffffff;
          border-radius: 4px;
          padding: 2px 5px;
          &:hover {
            color: #ffffff;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
        a { 
          font-weight: bold;
          color: #fff;
        }
      }
    }

    .logo {
      img {
        width: 217px;
        // height: 185px;
      }
    }
  }
}

.to_left {
  text-align: left;
}
.to_right {
  text-align: right;
}
.to_center {
  text-align: center;
}

.remote-img {
  width: 100px;
}

.head-image {
  width: 300px;
}